.SearchEngine {
  margin: 2rem 4rem;
  border-radius: 20px;
  max-width: 65rem;
  background: rgb(252, 244, 230);
}
.search {
  height: 15rem;
  background: url(./images/landscape.jpg);
  background-size: 65rem;
  background-position: 40% top;
  border-radius: 20px;
  padding-top: 2rem;
}
.search__heading {
  color: var(--tertiary-color);
}
.search__heading span {
  color: var(--secondary-color);
}
.search__btn {
  margin: 0.8rem 0;
}
.search__btn button {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--tertiary-color);
  padding: 0.6rem 0.9rem;
  border-radius: 50%;
}
.search__input {
  width: 25rem;
  margin: 1rem;
}
.search__input input {
  border: 1px solid var(--primary-color);
  background: none;
  border-radius: 18px;
  padding: 0.4rem;
  padding-left: 1rem;
  width: 100%;
}
.search__input input::placeholder {
  color: var(--primary-color);
}
